doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vendor.34250630ea76631ed951.js')
    script(type='text/javascript', src='/javascripts/bundle.2decc5eed8fd63532b78.js')
  body
    block content
